<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%-5p][%-6.6t][%-20.20c{1}] - %m %n" />
        </layout>
    </appender>

    <appender name="parser" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/parsing/main.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="windows-1251"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%-5p][%-6.6t][%-20.20c{1}] - %m %n"/>
        </layout>
    </appender>

    <appender name="element" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/xml/main.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%-5p][%-6.6t][%-20.20c{1}] - %m %n"/>
        </layout>
    </appender>

    <appender name="selector" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/selector/main.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%-5p][%-6.6t][%-20.20c{1}] - %m %n"/>
        </layout>
    </appender>

    <logger name="com.parsingHTML.logic.element">
        <level value="DEBUG"/>
        <appender-ref ref="element"/>
    </logger>

    <logger name="com.parsingHTML.logic.parser">
        <level value="DEBUG"/>
        <appender-ref ref="parser"/>
    </logger>

    <logger name="com.parsingHTML.logic.selector">
        <level value="DEBUG"/>
        <appender-ref ref="selector"/>
    </logger>

    <root>
        <priority value="debug"/>
        <appender-ref ref="Console" />
    </root>

</log4j:configuration>